.card {
  margin: auto;
  width: 512px;
}

.image {
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% !important;
  color: #fff;
  height: 176px;
}

.name {
  padding: 0;
  text-align: center;
}

.description {
  padding-bottom: 30px;
  padding-top: 0;
  text-align: center;
}
